<nav class="navbar navbar-expand-lg bg-dark navbar-dark justify-content-center text-center fixed-bottom">
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarTogglerFooter" aria-controls="navbarTogglerFooter"
                aria-expanded="false" aria-label="Toggle Footer Navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbarTogglerFooter" class="row collapse navbar-collapse">
        <div class="col col-lg-auto">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="mailto:">
                        <i title="Send Us an Email" class="fas fa-envelope"></i>
                        Mail
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://twitter.com/">
                        <i title="Find Us on Twitter" class="fab fa-twitter"></i>
                        Twitter
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.linkedin.com/">
                        <i title="Find Us on LinkedIn" class="fab fa-linkedin"></i>
                        linkedIn
                    </a>
                </li>
                <li class="nav-item">
                    <span class="nav-link">
                        <i class="fas fa-map-marker-alt">US, Earth</i>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</nav>
